node_modules
bower_components
.idea
npm-debug.log
src/**/*.js
src/**/*.map
test/**/*.js
test/**/*.map
example/**/*.js
example/**/*.map
examples/**/*.js
examples/**/*.map
test/*.js
test/*.map
docs