node_modules
bower_components
.idea
src/**/*.js
src/**/*.map
test/**/*.js
test/**/*.map
example/**/*.js
example/**/*.map
examples/**/*.js
examples/**/*.map
npm-debug.log
test/*.js
test/*.map
npm-debug.log
